
notas_pa_distribuir.xlsx
~$notas_pa_distribuir.xlsx
3ºano/1ºSemestre/SO/Projeto - Atalho.lnk
3ºano/2ºSemestre/BD/AULAS/Práticas/Aula1/VS_SQLServer_Setup_Tips.pdf
3ºano/2ºSemestre/BD/ExpressAdv_ENU
3ºano/2ºSemestre/BD/SQLEXPR_x64_ENU
3ºano/2ºSemestre/BD/SSMS-Setup-ENU.exe
3ºano/2ºSemestre/BD/SQLEXPR_x64_ENU.exe
3ºano/2ºSemestre/BD/SQL2019-SSEI-Expr.exe
2ºAno/1ºSemestre/AC1/old/
2ºAno/1ºSemestre/AC1/epocaespecial
2ºAno/1ºSemestre/AC1/epocaespecial/
2ºAno/2ºSemestre/AC2/old/
3ºano/2ºSemestre/BD/AULAS/Projeto/
3ºano/2ºSemestre/BD/Projeto/
3ºano/2ºSemestre/BD/AULAS/Práticas/Aula8/Aula8_Material/AdventureWorks2012_Database/AdventureWorks2012_Data.mdf
3ºano/2ºSemestre/BD/AULAS/Práticas/Aula8/Aula8_Material/AdventureWorks2012_Database/AdventureWorks2012_log.ldf
3ºano/2ºSemestre/PDS/practical-gp505/
/2ºAno/1ºSemestre/AC1/P/SegundoTeste/Helper
2ºAno/1ºSemestre/AC1/exceptions.s
2ºAno/1ºSemestre/AC1/Mars.jar
2ºAno/1ºSemestre/AC1/P/Mars.jar
2ºAno/1ºSemestre/AC1/P/exceptions.s
3ºano/PECI/Relatório PECI.zip
/Extracurricular/IES/labs-2022-23
/Extracurricular/IES/Projeto
notas_pa_distribuir.xlsx
